.kuchhBhi{
	font-size: 14px;
	font-color:blue;
	width:50%;
	background: yellow;
	text-align: center
}
.aryasList{
	margin: 0 auto;
    padding: 20px 100px;
    width: 42%;
    background: #808;
    color:white;
}

